*:has(.scene) {
  margin: 0;
  padding: 0;
}

.scene {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;

  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: white;

  /* comment below out on production */
  background-image: url("img/testbg.png");
  background-size: cover;
}

.horizontal-box {
  display: flex;
  flex-direction: row;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
