@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap&family=Covered+By+Your+Grace&family=DM+Serif+Display:ital@0;1&display=swap");

/* Font Classes */

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.zen-maru-gothic-light {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zen-maru-gothic-medium {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.zen-maru-gothic-bold {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zen-maru-gothic-black {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Antihero";
  src: url("@/assets/fonts/Antihero.otf") format("opentype");
}

.antihero {
  font-family: "Antihero", serif;
}

/* Colors */

:root {
  --color-CO: #7bfffd;
  --color-TE: #d27bff;
  --color-WC: #ff7b7b;
  --color-DE: #ffe17b;
  --color-TB: #ffffff;

  --color-R: #c02230;
  --color-B: #1c4ade;
  --color-Y: #ffe17b;

  --color-BG: #191919;
  --color-BG-ALT: #333333;
}

.switchPage-enter-active {
  opacity: 0;
  animation: 500ms fadeIn 500ms;
}

.switchPage-leave-active {
  animation: fadeIn 500ms reverse;
}
